#dark  {
  background-color: #171717;
  color: #fff;
}
.mainNav {
  border-bottom: .5px solid #737373;
}

.mainFooter {
  border-top: .5px solid #737373;
}

#dark .navDark {
  border-color: #737373;
}

#dark .darkModal {
  color: black;
}

.userBorder {
  border: .5px solid #737373;
}

#dark .overlayStyles {
  text: white;
}

