#dark  {
  background-color: #171717;
  color: #fff;
}

#light {
  background-color: #fff;
  color: black;
}
.mainNav {
  border-bottom: .5px solid #737373;
}
.mainFooter {
  border-top: .5px solid #737373;
}

#dark .mainFooter {
  background-color: #171717;
}


.userBorder {
  border: .5px solid #737373;
}



/* #dark .purpleTheme  {
  color: #7c3aed;
} */



